<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
  <title>wifi hacking</title>
</head>

<body>
  <div class="box-modules">
    <h1 class="modules-main-text">
      wifi config scan hack utils
    </h1>
    <ul class="modules-list">
      <li class="box-top-left img-top-left">
        <h2 class="main-title">
          config change
        </h2>
        <ul class="card-list">
          <li class="items-list">
            <a href="/mac_change" target="_blank">mac change</a>
          </li>
          <li class="items-list">
            <a href="/txpower_change" target="_blank">txpower change</a>
          </li>
          <li class="items-list">
            <a href="/channel_change/<int:channel>" target="_blank">channel change</a>
          </li>
          <li class="items-list">
            <a href="/airmon-ng_check" target="_blank">airmon-ng check</a>
          </li>
          <li class="items-list">
            <a href="/airmon-ng_check_kill" target="_blank">airmon-ng_check_kill</a>
          </li>		  
          <li class="items-list">
            <a href="/airmon-ng_wlan_mode_monitor" target="_blank">airmon-ng wlan mode monitor</a>
          </li>
          <li class="items-list">
            <a href="/wlan_mode_monitor" target="_blank">wlan_mode_monitor</a>
          </li>
          <li class="items-list">
            <a href="/wlan_set_type_monitor" target="_blank">wlan_set_type_monitor</a>
          </li>
          <li class="items-list">
            <a href="/add_mon_type_monitor" target="_blank">add_mon_type_monitor</a>
          </li>
          <li class="items-list">
            <a href="/wlan_mode_managed" target="_blank">wlan_mode_managed</a>
          </li>
          <li class="items-list">
            <a href="/virtual_interface_delete" target="_blank">virtual_interface_delete</a>
          </li>
          <li class="items-list">
            01
          </li>
        </ul>
      </li>
      <li class="box-top-right img-top-right">
        <h2 class="main-title">
          service / connect
        </h2>
        <ul class="card-list">
          <li class="items-list">
            <a href="/wifi-ap-connect" target="_blank">wifi-ap-connect</a>
          </li>		
          <li class="items-list">
            <a href="/NetworkManager_stop" target="_blank">NetworkManager_stop</a>
          </li>
          <li class="items-list">
            <a href="/NetworkManager_start" target="_blank">NetworkManager_start</a>
          </li>
          <li class="items-list">
            <a href="/NetworkManager_status" target="_blank">NetworkManager_status</a>
          </li>
          <li class="items-list">
            <a href="/NetworkManager_read_conf" target="_blank">NetworkManager_read_conf</a>
          </li>
          <li class="items-list">
            <a href="/wpa_supplicant_stop" target="_blank">wpa_supplicant_stop</a>
          </li>
          <li class="items-list">
            <a href="/wpa_supplicant_start" target="_blank">wpa_supplicant_start</a>
          </li>
          <li class="items-list">
            <a href="/wpa_supplicant_status" target="_blank">wpa_supplicant_status</a>
          </li>
          <li class="items-list">
            <a href="/ps" target="_blank">ps</a>
          </li>
          <li class="items-list">
            <a href="/ls" target="_blank">ls</a>
          </li>
          <li class="items-list">
            <a href="/uptime" target="_blank">uptime</a>
          </li>
          <li class="items-list">
            <a href="/free_port/<int:port>" target="_blank">free_port</a>
          </li>	
          <li class="items-list">
            02
          </li>
        </ul>
      </li>
<li class="box-bottom-left img-bottom-left">
        <h2 class="main-title">
          utils
        </h2>
        <ul class="card-list">
          <li class="items-list">
            <a href="/airodump-ng" target="_blank">airodump-ng</a>
          </li>
          <li class="items-list">
            <a href="/airbase_fake_ap" target="_blank">airbase_fake_ap</a>
          </li>
          <li class="items-list">
            <a href="/mdk3_fake_ap" target="_blank">mdk3_fake_ap</a>
          </li>
          <li class="items-list">
            <a href="/mdk3_deauthentication_all_channel" target="_blank">mdk3_deauthentication_all_channel</a>
          </li>
          <li class="items-list">
            <a href="/aireplay_deauthentication_all_channel" target="_blank">aireplay_deauthentication_all_channel</a>
          </li>
          <li class="items-list">
            <a href="/pyrit_striplive" target="_blank">pyrit_striplive</a>
          </li>
          <li class="items-list">
            <a href="/hcxdumptool_attack" target="_blank">hcxdumptool_attack</a>
          </li>
          <li class="items-list">
            <a href="/hcxpcapngtool_hash" target="_blank">hcxpcapngtool_hash</a>
          </li>
          <li class="items-list">
            <a href="/start_hashcat" target="_blank">start_hashcat</a>
          </li>		  
          <li class="items-list">
            03
          </li>
        </ul>
      </li>
      <li class="box-bottom-right img-bottom-right">
        <h2 class="main-title">
          config / scan
        </h2>
        <ul class="card-list">
          <li class="items-list">
            <a href="/iwconfig" target="_blank">iwconfig</a>
          </li>
          <li class="items-list">
            <a href="/ifconfig" target="_blank">ifconfig</a>
          </li>
          <li class="items-list">
            <a href="/iw-wlan-info" target="_blank">iw-wlan-info</a>
          </li>
          <li class="items-list">
            <a href="/iw-dev-info" target="_blank">iw-dev-info</a>
          </li>
          <li class="items-list">
            <a href="/iw-list" target="_blank">iw-list</a>
          </li>
          <li class="items-list">
            <a href="/iwlist-scan" target="_blank">iwlist-scan</a>
          </li>
          <li class="items-list">
            <a href="/iwlist_wlan_scan_ssid" target="_blank">iwlist_wlan_scan_ssid</a>
          </li>
          <li class="items-list">
            <a href="/nmcli" target="_blank">nmcli</a>
          </li>		  
          <li class="items-list">
            <a href="/name_to_mac/<name>" target="_blank">name_to_mac</a>
          </li>
          <li class="items-list">
            <a href="/mac_to_wpspin/<address>" target="_blank">mac_to_wpspin</a>
          </li>			  
          <li class="items-list">
            04
          </li>
        </ul>
      </li>	  
    </ul>
  </div>
</body>

</html>
